.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 100vh;
  background-color: $color-surface;
  border-right: 1px solid $color-border;
  padding: $spacing-md 0;
}

.top {
  text-align: center;
  margin-bottom: $spacing-md;
  border-bottom: 1px solid $color-border;


  .logo {
    font-size: $font-size-h3;
    font-weight: 700;
    color: $color-primary;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 0 $spacing-md;

  .link {
    display: flex;
    align-items: center;
    gap: $spacing-sm ;
    padding: $spacing-sm $spacing-md;
    border-radius: $radius-md;
    font-size: $font-size-small;
    color: $color-text-secondary;
    text-decoration: none;
    transition: background 0.2s, color 0.2s;

    &:hover {
      background-color: $color-background;
      color: $color-primary;
    }

    svg {
      color: inherit;
    }
  }

  .active {
    background-color: lighten($color-primary, 45%);
    color: $color-primary;
    font-weight: 500;
  }
}

.bottom {
  border-top: 1px solid $color-border;
  padding: $spacing-md;

  .logout {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
    background: none;
    border: none;
    color: $color-error;
    font-size: $font-size-small;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: $spacing-sm $spacing-md;
    border-radius: $radius-md;
    transition: background 0.2s;

    &:hover {
      background-color: lighten($color-error, 45%);
    }
  }
}
